<%= form_for @certification, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :certification_type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :certification_type, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :completed_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :completed_date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :expiry_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :expiry_date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :issuer, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :issuer, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :instructor_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :instructor_name, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  certifications_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
